<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Restaurant</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:light,bold" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <main class="container-fluid main-content">
        <div class="login-logout">
            <a href="{{ url_for('logout') }}">logout</a>
        </div>
        <Header class="header-content">
            <h1 class="page-name">Search Food</h1>
        </Header>
        <form action="{{ url_for('delete_restaurant', restaurant_id = restaurant.id) }}" method="POST">
            <div>
                <h2 class="title-name">Remove the Restaurant</h2>
                <p> Are you sure you want to delete {{restaurant.name}}? </p>
                <input class="btn btn-danger" type="submit" value="Remove">
                <a href="{{ url_for('retrieve_restaurants') }}">Back to Catalog</a>
            </div>
        </form>
    </main>     
</body>
</html>