<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Restaurant</title>
</head>
<body>

    <Header>
        <h1>Search Food</h1>
    </Header>

    <h2>Remove the Restaurant</h2>

    <p> Are you sure you want to delete {{item.name}}? </p>

    <form action="{{ url_for('delete_menu_item', restaurant_id = restaurant_id, item_id = item.id) }}" method="POST">
        <input type="submit" value="Yes">
        <a href="{{ url_for('retrieve_menu_items', restaurant_id = restaurant_id) }}">Back to Catalog</a>
    </form>
       
</body>
</html>