<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant</title>
</head>
<body>

    <Header>
        <h1>Search Food</h1>
    </Header>

    <h2>Edit Restaurant</h2>

    <form action="{{ url_for('edit_restaurant', restaurant_id = restaurant_id, restaurant = restaurant) }}" method="POST">
        <label>Name:</label><br>
        <input type="text" size="30" name="name" value="{{ restaurant.name }}">
        <input type="submit" value="Edit"> 
    </form>

    <a href="{{ url_for('retrieve_restaurants') }}">Back to Catalog</a>
    
</body>
</html>