<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:light,bold" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <main class="container-fluid main-content">
		<div class="login-logout">
			<a href="{{url_for('login')}}">login</a>
		</div>
		<Header class="header-content">
			<h1 class="page-name">Search Food</h1>
		</Header>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        <div class="container-fluid">
            {% for restaurant in restaurants %}
            <div class="restaurant-content">
                <span class="restaurant-name">{{ restaurant.name }}</span> <br>
                <a class="btn btn-common " href="{{ url_for('retrieve_menu_items', restaurant_id = restaurant.id) }}">Open Menu</a>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>